<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <img th:src="@{/images/comp_science.png}" class="logo_image_mc">
        <h5 class="my-0 mr-md-auto font-weight-normal">Спеціальність "Комп'ютерні науки" Машинобудівного коледжу СумДУ</h5>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="/">Головна</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">Новини</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Про спеціальність</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Наші викладачі</a>
                    <a class="dropdown-item" href="#">Списки груп</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Екскурсія</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Навчання</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Методичні рекомендації</a>
                    <a class="dropdown-item" href="#">Сервіси дистанційного навчання</a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Абітурієнтам</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Опитування</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Контакти</a>
            </li>
        </ul>

        <a class="btn btn-outline-primary" href="#">Увійти</a>
    </div>
</div>