<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <title>Сайт спеціальності 122 «Компютерні науки» МК СумДУ</title>

</head>
<body>


<!--Navbar-->
<header th:insert="blocks/header::header"></header>


<div class="margin-3"></div>

<div class="wrapper">
    <div class="container">
        <div class="container mt-5 mb-5">
            <h1>Додавання викладачів</h1><br>
            <div>
                <form method="post">
                    <input type="text"  name="surname" placeholder="Прізвище..." class="form-control"><br>
                    <input type="text" name="name" placeholder="Ім'я..." class="form-control"><br>
                    <input type="text" name="patronymic" placeholder="По батькові..." class="form-control"><br>
                    <p> Посада: </p>
                    <select class="form-control" name="role">
                        <option th:each="el : ${roles}" th:value="${el.getRoleId()}" th:text="${el.getTitle()}"></option>
                    </select><br>
                    <p> Кому підпорядковується: </p>
                    <select class="form-control" name="manager">
                        <option th:each="el : ${educators}"  th:value="${el.getEducatorId()}" th:text="${el.surname} + '  ' +  ${el.name} + '  ' + ${el.patronymic}"></option>
                    </select><br>
                    <input type="text"  name="description" placeholder="Короткий опис викладача..." class="form-control" maxlength="249"><br>
                    <input type="text"  name="imgUrl" placeholder="Посилання на фото викладача..." class="form-control"><br>
                    <button type="submit" class="btn btn-success">Внести зміни</button>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>



<div th:insert="blocks/footer :: footer"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>




