<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <title>Сайт спеціальності 122 «Компютерні науки» МК СумДУ</title>

</head>
<body>


<!--Navbar-->
<header th:insert="blocks/header::header"></header>


<div class="margin-3"></div>

<div class="wrapper">
    <div class="container">
        <div class="container mt-5 mb-5">
            <h1>Редагування новин</h1>
            <div th:each="el: ${news}">
                <form method="post">
                    <input type="text" th:value="${el.title}" name="title" placeholder="Заголовок новини..." class="form-control"><br>
                    <input type="text" th:value="${el.description}" name="description" placeholder="Короткий опис..." class="form-control" maxlength="249"><br>
                    <input type="text" th:value="${el.imgUrl}" name="imgUrl" placeholder="Посилання на зображення..." class="form-control"><br>
                    <input type="date" th:value="${el.date}" name="date" placeholder="Дата..." class="form-control"><br>
                    <textarea  name="text" placeholder="Enter the full text of article..." class="form-control" th:text="${el.text}" height="40%"/> <br>
                    <button type="submit" class="btn btn-success">Внести зміни</button>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>



<div th:insert="blocks/footer :: footer"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>




